* {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header, footer {
    color: white;
}

body {
    background-image: url("../img/social_background.png");
    background-size: 120em;
}

header {
    width: 100%;
    padding: 1em 0;
    background: linear-gradient(180deg,rgba(0, 7, 32, 0.9) 10%, rgba(0, 7, 32, 0.65) 50%, rgba(0, 6, 26, 0.15) 85%, rgba(0, 0, 0, 0) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
}

header ul {
    display: flex;
    align-items: baseline;
    padding-right: 1em;
}

header ul li {
    list-style: none;
    padding: 0 0.5em;
    font-weight: 500;
}

li:hover {
    color: #EEBB15;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.logo {
    width: 6em;
}

.logo:nth-of-type(1) {
    padding-left: 1em;
}

#lang {
    position: absolute;
    right: 1em;
    background-color: #FFFFFF;
    padding: 0.5em;
    border-radius: 0.5em;
    top: 6em;
    display: flex;
    gap: 0.5em;
}

.fi {
    padding: 0.5em;
}

main {
    background-color: #FFFFFF;
    height: 100vh;
    width: 50%;
    margin: auto;
    transform: translateZ(-1px);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgb(238, 187, 21, 25%) 0 0 10px 10px;
}

h2 {
    background-color: #7A94E5;
    width: 10em;
    padding: 0.25em 2em;
    text-align: center;
    font-size: x-large;
    color: #FFFFFF;
}

#links {
    fill: rgb(0, 17, 72, 75%);
}

#submit {
    border: none;
    background-color: #EEBB15;
    color: #FFFFFF;
    padding: 0.25em 1em;
    font-weight: 500;
    font-size: large;
    display: flex;
    align-items: center;
    margin: auto;
}

.rotate-center {
    width: 1em;
    margin: 0 0.5em;
	animation: rotate-center 10s linear infinite both;
}

@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

footer {
    padding: 1em;
    background-color: rgba(0, 7, 32, 0.75); 
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;

}

img, svg {
    width: 3em;
}