* {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header, footer {
    color: white;
}

body {
    background: url("../img/social_background.png");
    background-size: 120em;
}

header {
    width: 100%;
    padding: 1em 0;
    background: linear-gradient(180deg,rgba(0, 7, 32, 0.9) 10%, rgba(0, 7, 32, 0.65) 50%, rgba(0, 6, 26, 0.15) 85%, rgba(0, 0, 0, 0) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
}

header ul {
    display: flex;
    align-items: baseline;
    padding-right: 1em;
}

header ul li {
    list-style: none;
    padding: 0 0.5em;
    font-weight: 500;
}

li:hover {
    color: #EEBB15;
    cursor: pointer;

}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.notWhite {
    color: rgb(0, 17, 72, 75%);
}

.notWhite:hover {
    color:#EEBB15;
}

.logo {
    width: 6em;
}

header .logo {
    padding-left: 1em;
}

#lang {
    position: absolute;
    right: 1em;
    background-color: #FFFFFF;
    padding: 0.5em;
    border-radius: 0.5em;
    top: 6em;
    display: flex;
    gap: 0.5em;
}

.fi {
    padding: 0.5em;
}

.fi:hover {
    cursor: pointer;
}

main {
    background-color: #FFFFFF;
    min-height: 100vh;
    width: 50%;
    margin: auto;
    transform: translateZ(-1px);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: breathingLight 2.5s linear infinite both;
}

@keyframes breathingLight {
    0% {
        box-shadow: rgb(238, 187, 21, 33%) 0 0 10px 10px;
    }
    24.98% {
        box-shadow: rgb(238, 187, 21, 33%) 0 0 10px 10px;
    }
    24.99% {
        box-shadow: rgb(238, 187, 21, 5%) 0 0 10px 10px;
    }
    25% {
        box-shadow: rgb(238, 187, 21, 33%) 0 0 10px 10px;
    }
    41.98% {
        box-shadow: rgb(238, 187, 21, 33%) 0 0 10px 10px;
    }
    41.99% {
        box-shadow: rgb(238, 187, 21, 5%) 0 0 10px 10px;
    }
    42% {
        box-shadow: rgb(238, 187, 21, 5%) 0 0 10px 10px;
    }
    43% {
        box-shadow: rgb(238, 187, 21, 5%) 0 0 10px 10px;
    }
    43.01% {
        box-shadow: rgb(238, 187, 21, 33%) 0 0 10px 10px;
    }
    47.99% {
        box-shadow: rgb(238, 187, 21, 5%) 0 0 10px 10px;
    }
    48% {
        box-shadow: rgb(238, 187, 21, 33%) 0 0 10px 10px;  
    }
    49% {
        box-shadow: rgb(238, 187, 21, 5%) 0 0 10px 10px;
    }
    49.01% {
        box-shadow: rgb(238, 187, 21, 33%) 0 0 10px 10px;
    }
    100% {
        box-shadow: rgb(238, 187, 21, 33%) 0 0 10px 10px;
    }
}

#form {
    width: 75%;
    margin: auto;
}

h2 {
    background-color: #7A94E5;
    width: 10em;
    padding: 0.25em 2em;
    text-align: center;
    font-size: x-large;
    color: #FFFFFF;
}

#links {
    color: rgb(0, 17, 72, 75%);
    margin-bottom: 2em;
    margin-top: 1em;
}

form {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

textarea {
    width: 100%;
    margin-bottom: 0.5em;
    max-width: 100%;
    min-width: 100%;

}

input {
    margin-bottom: 0.5em;
    width: 75%;
}

textarea, input {
    border: rgba(0, 7, 32, 0.5) solid 1px; 
    border-radius: 0.5em;
    background-color: rgb(122, 148, 229, 15%);
    padding: 0.5em;
}

label {
    font-weight: 500;
}

#msgForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#submit {
    border: none;
    background-color: #EEBB15;
    color: #FFFFFF;
    padding: 0.25em 1em;
    display: flex;
    align-items: center;
    margin: auto;
}

#submit img {
    width: 2em;
    margin: 0.25em 0.5em;
}

#submit h3 {
    font-weight: 500;
    font-size: large;
}

#submit:hover {
    background-color: #7A94E5;
    cursor: pointer;
}

.rotate-center {
    width: 1em;
    margin: 0 0.5em;
	animation: rotate-center 10s linear infinite both;
}

@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

footer {
    padding: 0.5em;
    background-color: rgba(0, 17, 72, 0.75);  
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;

}

img, svg {
    width: 3em;
}

i {
    font-size: 3em;
}