* {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    scroll-behavior: smooth;
}

header, footer {
    color: white;
}

body {
    background-image: url("../img/social_background.png");
    background-size: 120em;
}

header {
    padding: 1em 0;
    background: linear-gradient(180deg,rgba(0, 7, 32, 0.9) 10%, rgba(0, 7, 32, 0.65) 50%, rgba(0, 7, 32, 0.15) 85%, rgba(0, 0, 0, 0) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 5;
}

header ul {
    display: flex;
    align-items: baseline;
    padding-right: 1em;
}

header ul li {
    list-style: none;
    padding: 0 0.5em;
    font-weight: 500;
}

li:hover {
    color: #EEBB15;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.logo {
    width: 6em;
}

header .logo {
    padding-left: 1em;
}

#lang {
    position: absolute;
    right: 1em;
    background-color: #FFFFFF;
    padding: 0.5em;
    border-radius: 0.5em;
    top: 6em;
    gap: 0.5em;
}

.fi {
    padding: 0.5em;
}

.fi:hover {
    cursor: pointer;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin-left: 1em;
    position: fixed;
    top: 43vh;
    z-index: 5;
}

.nav button {
    border-radius: 100%;
    padding: 5px 1px;
    border: 5px solid rgb(31, 136, 218, 50%);
    background-color: rgb(14, 58, 191, 25%);
}

.nav button:hover {
    i {
        color: #FFFFFF;
    }
    cursor: pointer;
}

.nav i {
    font-size: 3em;
    color: #001148;
}

#hero, #about, #projects {
    min-height: 100vh;
    /* di   splay: flex; */
}

#hero section {
    font-size: xx-large;
    position: absolute;
    top: 12em;
    left: 15%;
}

#line {
    height: 0.3em;
    margin-left: 0.5em;
    background-color: #EEBB15;
    width: 3em
}

#hero section h3 {
    margin-left: 1em;
}

#hero section h3, h1 {
    -webkit-text-stroke: 4px rgb(14, 58, 191, 25%)
}

#heroChar {
    position: absolute;
    bottom: 0;
    right: 10%;
    width: 22.5em;
}

.content {
    width: 50%;
    margin: auto;
    padding-top: 10em;
}

h2 {
    background-color: #7A94E5;
    width: 10em;
    padding: 0.25em 2em;
    text-align: center;
    font-size: x-large;
    color: #FFFFFF;
}

#about, #projects {
    background-color: #E3E3E3;
}

#about p {
    padding: 1em;
    background-color: #d7d7d7;
    margin: 0 0 2.5em 0;
}

#aboutChar {
    position: relative;
    right: -75%;
    top: 3px;
    width: 15em;
}

#stuff {
    width: 75%;
    margin: auto;
}

#roll {
    padding: 1em;
    background: #d7d7d7;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
}

#IKnow {
    display: flex;
}

#IKnow i{
    font-size: 5em;
    color: rgba(0, 17, 72, 0.75);
}

.arrow {
    color: #EEBB15;
    font-size: 5em;
}

#newProject {
    border: none;
    background-color: #EEBB15;
    color: #FFFFFF;
    padding: 0.25em 0.5em;
    display: flex;
    margin: auto;
}

#newProject a {
    display: flex;
    align-items: center;
}

#newProject h3 {
    font-weight: 500;
    font-size: x-large;
}

#newProject img {
    width: 2em;
    margin: 0.25em 0.5em;
}

#newProject:hover {
    background-color: #7A94E5;
}

.arrow:hover {
    color: #7A94E5;
    cursor: pointer;
}

.arrow:nth-of-type(2):hover {
    animation: pointright 0.5s linear 0s 2 ;
}

.arrow:nth-of-type(1):hover {
    animation: pointleft 0.5s linear 0s 2 ;
}

@keyframes pointright {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(10px);
  }
  
}

@keyframes pointleft {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-10px);
  }
  
}

.rotate-center {
	animation: rotate-center 10s linear infinite both;
}

@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

#carrou {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url("");
}



#project {
    background-color: rgb(122, 148, 229, 50%);
    border: #001148 solid 2.5px;
    border-radius: 15px;
    color: #FFFFFF;
    width: 40vw;
    height: 50vh;
    margin: 2.5em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#links {
    color: #FFFFFF;
    font-size: 3em;
}

#links i:hover {
    color: #001148;
    cursor: pointer;
}

#project h3 {
    font-weight: 500;
    font-size: 75px;
    text-align: center;
}

footer p {
    display: none;
    position: absolute;
    font-size: 1.25em;
    font-weight: 500;
}

footer {
    padding: 1em;
    background-color: rgba(0, 17, 72, 0.75); 
    display: flex;
    justify-content: center;
    align-items: center;
}

footer:hover{
    animation: blurryback 1s both;
}

@keyframes blurryback {
    0% {
        backdrop-filter: blur(0px);
    }
    100% {
        backdrop-filter: blur(40px);
    }
}

footer:hover .logo {
    animation: blurry 2s both;
}

@keyframes blurry {
    0% {
        filter: blur(0px);
    }
    100% {
        filter: blur(40px);
    }
}

footer:hover p {
    display: block;
    animation: easein 1s both;
}

@keyframes easein {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

img, svg {
    width: 3em;
}

@media screen and (max-width: 321px) {
    #rightArrow, #leftArrow {
        top: 290vh !important;
    }
}

@media screen and (max-width: 767px) {

    header {
        flex-direction: column;
    }
    
    .logo {
        width: 5em;
        padding-left: 0;
    }
    
    ul {
        padding: 0 !important;
        background-color: rgba(0, 17, 72, 0.25); 
    }

    li {
        font-size: larger;
    }

    #lang {

        top: 9em;
        flex-direction: column;
    }

    .nav {
        margin-left: 0.5em;
        top: 62vh;
    }

    h2 {
        width: 50%;
        font-size: large;
    }

    #hero section {
        font-size: 21px;
        left: 25%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        top: 15em;
    }

    #line {
        margin-right: 0.5em;
    }

    #hero section h3 {
        margin-right: 1em;
    }

    #heroChar {
        width: 15.5em;
    }

    #aboutChar {
        width: 9em;
        right: -50%;
    }

    

    

    #project h3, #links {
        font-size: 45px;
    }

    #project {
        width: 100%;
        margin-bottom: 10em;
    }

    .arrow {
        font-size: 5em;
    }

    #rightArrow, #leftArrow {
        position: absolute;
        top: 285vh;
    }

    #rightArrow {
        right: 25%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    header {
        flex-direction: column;
    }

    #lang {
        top: 9em;
        flex-direction: column;
    }
    
    h2 {
        width: 50%;
        font-size: large;
    }

    #heroChar {
        width: 15.5em;
    }

    #project {
        width: 100%;
    }

    #project h3, #links {
        font-size: 45px;
    }
}